.statechampions .controls {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.statechampions .controls {
    background-color: rgba(0, 0, 0, 0.25);
}
.statechampions .control {
    width: 20vw;
    height: 12vh;
    border: 5px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 3em;
}
