.navbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
}
.navbar > div {
    font-size: 45px;
    line-height: 45px;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    padding: 8px;
}
.navbar i {
    font-size: 45px;
    line-height: 45px;
    color: #FFFFFF !important;
}
.navbar-share {
    text-align: center;
}
.navbar-share .qr {
    display: inline-block;
}
